*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   /*font-size: 100%; /*  1rem = 16px */
   /* 10/16 =0.625   0.62.5m x 100 -62.5%  */
   font-size: 62.5%; /*1rem = 10px*/
}
/* 632px, 740px, 1024px, 1280px */

@media (max-width:1280px) {
    html {
        font-size: 50% ;
    }

}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.primary-btn,
.sign-in-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #16a34a;
    padding: 1rem 2rem;
    border-radius: 7px;
}

.logo-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid oklch(98.5% 0.002 247.839);
    align-items: center;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 2rem;
}
@media(max-width:700px){
    .nav-item{
        display: none;
    }
}

.nav-item a{
    text-decoration: none; 
    color: oklch(55.1% 0.027 264.364);
}
.logo-icon {
    color: #16a34a;
    font-size: 3rem;
}
/* .sign-in-btn {
    display: inline-block;
    text-decoration: none;
    color: white ;
    background-color:oklch(72.3% 0.219 149.579);
    padding:12px 20px ;
    border-radius: 7px;
} */


.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:740px){
    .hero-container{
        flex-direction: column;
        gap: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 2rem;
    }
}

.hero-container{
    padding: 3rem 2rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-basis: 50%;
}

.hero-text-tag {
    background: #e5e7eb;
    color: #4b5563;
    width: fit-content;
    padding: 2px 1rem;
    border-radius: 2rem;
}
@media(max-width:400px){
    .hero-text-tag{
        font-size: 1rem;
    }
}

.hero-heading {
    font-size: 5rem;
}
@media (max-width:900px) {
    .hero-heading {
        font-size: 3rem;
    }
}

.hero-paragraph {
    color: #4b5563;
}

.hero-lists {
    list-style: none;
    color: #4b5563;
}

.hero-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-list i {
    color: #16a34a;
}

.outlined-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid #e5e7eb;
}

.hero-btn-wrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

/* .hero-image-wrapper {
    flex-basis: 50%;
} */

.hero-image {
    width: 50rem;
    height: 40rem;
    border-radius: 1rem;
}

@media (max-width:900px){
    .hero-image{
        width: 40rem;
        height: 30rem;
    }
    /* .hero-content {
        flex-basis: 100%;
    } */

}

@media (max-width:740px) {
    .hero-image-wrapper{
        width: 100%;
    }
    .hero-content{
        flex-basis: 100%;
    }
}
 
.how-it-works {
    background-color: #c0f2f1;
    padding: 5rem 2rem;
}

.how-it-works-title {
    text-align: center;
}
.how-it-works-title h3{
    font-size: 3.2rem;
    font-weight: 500;
}
.how-it-works-title p{
    color: #4b5563;
}
   
.how-it-works-card-container {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
  
}
@media (max-width:640px) {
    .how-it-works-card-container{
        flex-direction: column;
    }

}


.how-it-works-card {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
}

.how-it-works-card h4 {
    font-weight: 600;
    font-size: 2rem;
}

.card-icon {
    display: flex;
    background-color: #e0f2f1;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #059669;
}

.everything-you-need {
    padding: 5rem 2rem;
}

.everything-you-need-title {
    text-align: center;
}

.everything-you-need-title h3{
    font-size: 3.2rem;
    font-weight: 500;
}

.everything-you-need-title p{
    color: #4b5563;
}

.everything-you-need-card-container {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
}
@media (max-width:640px) {
    .everything-you-need-card-container{
        flex-direction: column;
    }

}

.everything-you-need-card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

.everything-you-need-card h4{
    font-weight: 500;
    font-size: 2rem;
}

.everything-you-need-card p{
    color: #4b5563;
}

.everything-you-need-card ul{
    color: #4b5563;
    list-style: none;
    padding-left: 1rem;
}
.ready-to-simplify-container {
    background-color: #c0f2f1;
    padding: 4rem;
}

.ready-to-simplify-card {
    background-color: #16a34a;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 1rem;

}

.ready-to-simplify-title {
    text-align: center;
}
.ready-to-simplify-title h3 {
    font-size: 3.2rem;
    font-weight: 50rem;
    color: white;
}

.ready-to-simplify-title p {
    color: white;
 
}

.ready-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
    
}

.create-a-free-account-btn {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 7px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    font-size: 1rem;
    text-align: center;
    color: #4b5563;
    
}
